@model RepDepInjAndPartialView.Models.Product

@{
    ViewData["Title"] = "_ProductPV";
}

@* det ska skicka bara 1 product -flerabestsellers->design i product/Index*@
<div class="card" style="width: 18rem;">
    <img src="@Html.DisplayFor(model => model.ImageUrl)" class="card-img-top" alt=" @Html.DisplayFor(model => model.Name)">
    <div class="card-body">
        <h5 class="card-title"> @Html.DisplayFor(model => model.Name)</h5>
        <p class="card-text"> @Html.DisplayFor(model => model.Description)</p>
        <a href="#" class="btn btn-primary">Add to card</a>
    </div>
</div>








   
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
